.deposit-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181a20;
  color: #ccc;
}

.payment-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #4d4d4d;
  border-radius: 8px;
  min-width: 400px;
  margin: 1rem 0;
}

.payment-container img {
    align-self: center;
    max-width: 90px;
}

.payment-container button {
    background-color: #f1cb30;
    border: none;
    color: #181A20;
    padding: .4rem;
    border-radius: .3rem;
    margin: .8rem 0;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.payment-container a {
    align-self: center;
    cursor: pointer;
}

.payment-container a:hover {
    text-decoration: underline;
}

.deposit-value,
.payment-forms {
    display: flex;
    flex-direction: column;
}

.deposit-value h2,
.payment-forms h2 {
    font-size: 1.2rem;
    margin-bottom: .6rem;
    font-weight: 400;
}

.deposit-value input {
    padding: .6rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    color: #fff;
}

.deposit-value input:focus {
    outline: none;
    border: 2px solid #f1cb30;
}

.payment-forms label {
    padding: .6rem 0;
    font-size: 1rem;
    margin-left: .6rem;
    border-bottom: 1px solid #4d4d4d;
    margin-bottom: .6rem;
}

.payment-forms input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
    accent-color: #f1cb30;
    margin-right: .4rem;
}

.payment-forms p {
    font-size: .7rem;
    margin-left: 1.6rem;
    opacity: .7;
}

.links-options {
    display: flex;
    flex-direction: column;
}