footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #181A20;
    border-top: 1px solid #4d4d4d;
    padding: 1.2rem;
}

.footer label {
    color: #dbdbdb;
}

.footer {
    text-align: center;
    min-width: 200px;
}

.footer .imagens {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.imagens img{
    padding: .8rem;
    max-width: 50px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
}